
*,
::after,
::before {
    margin: 0;
    box-sizing: border-box;
}

:root[data-theme="dark"] {
    --message-mode: 'Dark Mode';
    --show-sun: none;
    --show-moon: block;

    --transform-option: translate(100%);
    --color-switcher: #3B95FF;
    --color-active: #fff;
    --border-option: none;


    --fondo: #222222;
    --background: #333333;
    --gray: #999999;
    --color-texto: #fff;
    --text-triangle: black;
    --fondo-contenedor: #b8b4b4;
}


:root[data-theme="light"] {
    --message-mode: 'Light Mode';
    --show-sun: block;
    --show-moon: none;


    --color-switcher: #c4c4c4;
    --color-active: #c1c1c1;
    --border-option: 20px solid #fff;

    --fondo: #eef3fa;
    --background: #e0e5ec;
    --gray-claro: #797d7f;
    --color-texto: #000;
    --text-triangle: #fff;
    --fondo-contenedor: #111111;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Raleway', sans-serif;

    transition: .5s background-color, color .5s;
}

.main {
    min-height: 600px;
    height: 100vh;
    display: grid;
    align-content: center;
}

#sun {
    display: var(--show-sun);
}
#moon{
    display: var(--show-moon);
}
.main__theme::after {
    content: var(--message-mode);
    display: block;
    font-size: 2.3rem;
    text-align: center;
}

.main__light,
.main__dark {
    width: max-content;
    margin: 0 auto;
}

.main__light {
    display: var(--show-sun);
}

.main__dark {
    display: var(--show-moon);
}


.main__switcher {
    width: 100px;
    margin: 0 auto;
    padding: 5px 10px;
    height: 50px;
    border-radius: 999999px;
    background-color: var(--color-switcher);

    display: grid;
    grid-template-columns: 1fr 1fr;

    position: relative;

}

.main__check {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
}

.main__option {
    width: 40px;
    height: 40px;
    background-color: var(--color-active);
    border-radius: 50%;
    border: var(--border-option);

    transition: transform .3s;
    transform: var(--transform-option, none);
}


body {
    background-color: var(--fondo);
    color: var(--color-texto);
}
header{
    display: flex;
    padding: 1rem;
    background-color: var(--background);
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 7px rgb(163, 177, 198), -2px -2px 7px rgb(163, 177, 198),
    -8px -8px 50px rgba(255, 255, 255, 0.8), 3px 3px 25px rgba(0, 0, 0, 0.6);
}
.logo_portafolio{
    height: 10%;
    width: 10%;
}
.logo_principal{
    margin-left: 2rem;
    height: 70px;
    width: auto;
    filter: drop-shadow(9px 9px 16px rgba(14, 14, 15, 6)) drop-shadow(-9px -9px 16px rgba(255, 255, 255, 0.5));
}
.correo_personal{
    text-decoration: none;
    list-style: none;
    display: flex;
    height: 100%;
    width: 15%;
    
}
.correo_link {
    color: var(--color-texto);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
} 
.correo_link .iconoHeader{
    margin-right: 0.5rem;
}
.correo_link:hover , .bx:hover {
    color: var(--color-texto-hover);
}
.modo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}
.iconoHeader{
    height: 50px;
    margin-right: 4rem;
}

.iconos_iformacion{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.proyectoLink , .informacionPLink {
    width: 40%;
    margin-right: 1rem;
}
.proyectoLink a, .informacionPLink a{
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.personal{
    text-decoration: none;
    color: var(--fondo);
    margin: auto;
}
.proyectos{
    text-decoration: none;
    margin-right: 4px;
    color: var(--fondo);
    margin: auto;
}
.proyectos h1{
    color: var(--color-texto);
}
p a{
    display: flex;
    margin-right: 3rem;
    margin: auto;
}
.proyectos .iconoHeader, .personal .iconoHeader{
    height: 45px;
    display: flex;
    margin-right: 0;
}
.proyectos p{
    margin-left: 0;
}
main{
    display: flex;
}
.container1{
    align-items: center;
    justify-content: center;
    display: flexbox;
    width: 10%;
    font-size: 60px;
    padding-top: 30vh;
    margin-left: 1rem;
    text-align: center;
}
.bx{
    color: var(--fondo-contenedor);
    margin-top: 5%;
    margin-bottom: 0px;
    text-align: justify;
}
.cv {
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.cv p{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.icono{
    height: 70px;
    margin: 1rem;
}
.container2{
    display: block;
    padding-left: 5%;
}
.informacion_entrada{
    display: flex;
    height: 25%;
    justify-content: center;
    align-items: center;
    
}
.quien_soy {
    animation: initialAnimation 2s ease-in-out;
} 
@keyframes initialAnimation {
    0% {
          opacity: 0;
    }
    100% {
          opacity: 1;
    }
}
.comment {
    position: relative;
    width: 40%;
    padding: 10px;
    background-color: var(--fondo-contenedor);
    border-radius: 5px;
    color: var(--background);
    animation: initialAnimation 4s ease-in-out;
}
.comment-content {
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    filter: drop-shadow(9px 9px 16px rgba(14, 14, 15, 6)) drop-shadow(-9px -9px 16px rgba(255, 255, 255, 0.5));
}
.comment-content h2{
    color: var(--text-triangle);
}
.comment-triangle {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    filter: drop-shadow(9px 9px 16px rgba(14, 14, 15, 6)) drop-shadow(-9px -9px 16px rgba(255, 255, 255, 0.5));
    border-top: 10px solid var(--fondo-contenedor);
}
h1 {
    margin-top: 20px;
    font-size: 24px;
    color: var(--color-titulo);
}
p {
    font-size: 16px;
    color: var(--color-texto);
}
.quien_soy h1{
    font-size: 300%;
    filter: drop-shadow(9px 9px 16px rgba(14, 14, 15, 6)) drop-shadow(-9px -9px 16px rgba(255, 255, 255, 0.5));
}
.parrafoC2{
    text-align:  justify;
    justify-content: center;
    align-items: center;
}
.imagen_informacion{
    height: 100%;
}
.imagen_informacion img{
    height: 100%;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    z-index: -1;
    filter: drop-shadow(9px 9px 16px rgba(14, 14, 15, 0.6)) drop-shadow(-9px -9px 16px rgba(255, 255, 255, 0.5));
}
.habilidades{
    display: block;
    width: 93%;
    height: 27%;
    padding: 3%;
    box-shadow: 2px 2px 7px rgb(163, 177, 198), -2px -2px 7px rgb(163, 177, 198),
    -8px -8px 50px rgba(255, 255, 255, 0.8), 3px 3px 25px rgba(0, 0, 0, 0.6);
}
.titulo_habilidades{
    font-size: 200%;
    margin-left: 3% ;
    filter: drop-shadow(9px 9px 16px rgba(14, 14, 15, 10)) drop-shadow(-9px -9px 16px rgba(255, 255, 255, 0.5));
}
.habilidades_2{
    display: flex;
    margin: 2%;
    width: 97%;
    height: 70%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.habiliades_img{
    height: 100%;
}
.habiliades_img img{
    height: 100%;
    filter: drop-shadow(9px 9px 16px rgba(14, 14, 15, 8)) drop-shadow(-9px -9px 16px rgba(255, 255, 255, 0.5));
}
.informacion_personal{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.informacion_vida{
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 7px rgb(163, 177, 198), -2px -2px 7px rgb(163, 177, 198),
    -8px -8px 50px rgba(255, 255, 255, 0.8), 3px 3px 25px rgba(0, 0, 0, 0.6);
    margin: 20px;
    border-radius: 24px;
    border: 0px solid #000;
    padding: 3%;
}
.informacion_imagen{
    width: 30%;
}
.informacion{
    height: 100%;
    margin: 2%;
    font-size: 50%;
    justify-content: center;
}
.proyectos{
    display: block;
}
.proyectos2{
    width: 78%;
    overflow-y: auto;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 7px rgb(163, 177, 198), -2px -2px 7px rgb(163, 177, 198),
    -8px -8px 50px rgba(255, 255, 255, 0.8), 3px 3px 25px rgba(0, 0, 0, 0.6);
}
.proyectos h1{
    font-size: 200%;
    font-weight: bold;
    filter: drop-shadow(9px 9px 16px rgba(14, 14, 15, 7)) drop-shadow(-9px -9px 16px rgba(255, 255, 255, 0.5));
}
.contenedor_proyectos{
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
    margin-right: 20px;
}
.imagenes_proyectos{
    margin-bottom: 10px;
}
.proyectos2 img {
    width: 100%;
    border-radius: 5px;
}
footer{
    margin-top: 3%;
    display: flex;
    padding: 2%;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 7px rgb(163, 177, 198), -2px -2px 7px rgb(163, 177, 198),
    -8px -8px 50px rgba(255, 255, 255, 0.8), 3px 3px 25px rgba(0, 0, 0, 0.6);
}
.footer{
    display: block;
}
.iconos_footer{
    display: flex;
    justify-content: center;
    font-size: 200%;
}
.correo_personal_footer{
    margin-top: 1rem;
    display: flex;
}
.correo_personal_footer .bx{
    margin: auto;
    margin-right: 1rem;
}


@media screen and (max-width: 680px) { 
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .container2,
    .informacion_entrada,
    .habilidades,
    .informacion_personal,
    .proyectos,
    .habilidades_2,
    .habiliades_img,
    .contenedor_proyectos {
        display: flex;
        flex-direction: column;
        font-size: 10px;
    } 
    header{
        width: 100%;
        font-size: 2px;
        margin: 0;
        display: flex;
    }
    .logo_principal{
        height: 35px;
    }
    .correo_personal{
        text-decoration: none;
        list-style: none;
        display: flex;
        font-size: 1px;
        width: 200px;
        margin-left: 2%;
    }
    .correo_personal .bx, .correo_personal a{
        margin: auto;
        font-size: 10px;
    }
    .modo{
        background-color: red;
    }
    .main__switcher{
        width: 35px;
        margin: 0 auto;
        height: 15px;
        border-radius: 999999px;
    }
    .main__check {
        position: absolute;
        width: 10px;
        height: 10px;
        z-index: 10;
        opacity: 0;
        cursor: pointer;
    }
    .main__option{
        position: absolute;
        width: 15px;
        height: 15px;
    }
    #sun, #moon{
        font-size: 20px;
    }
    .iconos_iformacion{
        width: 200px;
        margin: auto;
    }
    .personal{
        display: flex;
        flex-direction: column;
        font-size: 5px;
    }
    .proyectos{
        display: flex;
        font-size: 5px;
    }
    a p{
        display: flex;
        font-size: 6px;
        margin-right: 0px;
    }
    p span{
        margin-right: 0px;
    }
    .icono{
        font-size: 10px;
        margin-right: 0px;
    }
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    .container1,
    .container2 {
        width: 100%;
        max-width: 100%;
        padding: 10px;
    }
    .parrafoC2{
        text-align:  justify;
        justify-content: center;
        align-items: center;
    }
    .informacion_entrada,
    .habilidades,
    .informacion_personal,
    .proyectos {
        width: 100%;
    }  
    .habilidades_2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }  
    .habiliades_img {
        width: 100%;
    }
    .informacion_vida {
        display: flex;
        flex-direction: column;
        gap: 20px;
    } 
    .proyectos2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    } 
    .contenedor_proyectos {
        flex-basis: calc(33.33% - 20px);
    }
    .iconos_footer {
        gap: 10px;
    }
    .container1{
        margin: 0px;
        width: 50px;height: auto;
    }
    .container2{
        width: 87%;
        height: 80%;
    }
    .informacion_entrada{
        height: 20%;
    }
    .quien_soy{
        margin-top: 0rem;
    }
    .comment{
        margin-top: 0px;
        width: auto;
    }
    .quien_soy h1{
        font-size: 30px;
        text-align: center;
    }
    .quien_soy p{
        font-size: 15px;
        margin-top: 3%;
    }
    .imagen_informacion {
        height: 300px;
    }
    .icono{
        height: 30px;
    }
    .iconoHeader{
        height: 10px;
    }
    .proyectos .iconoHeader, .personal .iconoHeader{
        height: 30px;
    }
    .habilidades{
        font-size: 10px;
        padding: 5px;
        pointer-events: none;
        height: auto;
    }
    .backend p, .frotend p{
        font-size: 10px;
        pointer-events: auto;
    }
    .backend h2, .frotend h2{
        text-align: center;
        margin-bottom: 2%;
        margin-top: 5%;
    }
    .habiliades_img{
        height: 50%;
        justify-content: center;
        align-items: center;
    }
    .habiliades_img img{
        height: auto;
        width: 60%;
    }
    .informacion_vida{
        width: 95%;
        height: auto;
    }
    .personalInfo{
        font-size: 250%;
    }
    .logo_principal,
    .bx {
        font-size: 20px;
    }
    .proyectos{
        margin-top: 0px;
        height: auto;
    }
    .proyectos h1{
        font-size:40px;
        margin-bottom: 2%;
        text-align: center;
    }
    .proyectos2{
        width: 100%;
        height: 100px;
        padding-left: 10%;
    }
    .imagenes_proyectos img{
        width:250px;
    }
    footer{
        margin-top: 0px;
    }
    .divhabilidad, .pasatiempoIconos{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Lenguage{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 5%;
        margin: 4%;
    }
    .logos{
        height: 15px;
    }
    .Lenguage p{
        font-size: 12px;
    }
    .enviar{
        width: 100%;
    }
    .input-padron{
        width: 100%;
    }
    /*proyectos */
    .fotos{
        display: block;
        align-items: center;
        justify-content: center;
    }
    .divProyeto{
        margin-top: 7%;
    }
    .experiencia, .formacion{
        display: block;
        align-items: center;
    }
    .divExperiencia, .divFormacion{
        display: block;
        align-items: center;
        justify-content: center;
    }
    .personal1{
        height: 80%;
    }
    .imagenInformacion{
        height: 15%;
    }
    .descargarCV{
        height: 10;
        cursor: pointer;
        height: 1%;
    }
}
