

@media screen and (max-width: 768px) { 
    body {
        font-size: 14px; /* Puedes ajustar el tamaño del texto para pantallas más pequeñas */
    }
    .container2,
    .informacion_entrada,
    .habilidades,
    .informacion_personal,
    .proyectos,
    .habilidades_2,
    .habiliades_img,
    .contenedor_proyectos {
        display: flex;
        flex-direction: column;
        font-size: 10px;
    } 
    header{
        width:95%;
        font-size: 2px;
        margin: 0;
        display: flex;
    }
    header .logo_principal{
        height: 25px;
        margin-left: 0.5rem;
    }
    .correo_personal{
        text-decoration: none;
        list-style: none;
        display: flex;
        font-size: 1px;
        width: 70%;
        margin-left: 0.7rem;
        margin-right: 0.7rem;
    }
    .correo_personal a{
        font-size: 10px;
    }
    .modo{
        width: 15%;
        margin-left: 0.4rem;
    }
    .main__switcher{
        width: 35px;
        margin: 0 auto 0 2rem;
        height: 15px;
    }
    .main__check {
        position: absolute;
        width: 10px;
        height: 10px;
        z-index: 10;
        opacity: 0;
        cursor: pointer;
    }
    .main__option{
        visibility: hidden;
    }
    #sun, #moon{
        font-size: 20px;
    }
    .iconos_iformacion{
        width: 40%;
        margin: auto;
    }
    .personal{
        display: flex;
        flex-direction: column;
        font-size: 5px;
    }
    .proyectos{
        display: flex;
        flex-direction: column;
        font-size: 5px;
    }
    a p{
        display: flex;
        font-size: 6px;
        margin-right: 0px;
    }
    p span{
        margin-right: 0px;
    }
    .icono{
        font-size: 10px;
        margin-right: 0px;
    }
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    .container1{
        margin: 0px;
        width: 50px;
        height: auto;
        display: block;
    }
    .container2{
        width: 80%;
        height: 80%;
    }
    .informacion_entrada{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .comment{
        margin: 0;
        width: 150px;
        height: 40px;
        border-radius: 10px;
    }
    .comment-content h2{
        font-size: 10px;
    }
    .comment-triangle{
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid var(--fondo-contenedor);
    }     
    .comment {
        width: 70%;
        height: 60px;
    }

    .comment-triangle {
        left: 50%;
        transform: translateX(-50%);
    }
    .parrafoC2{
        text-align:  justify;
        justify-content: center;
        align-items: center;
    }
    .informacion_entrada,
    .habilidades,
    .informacion_personal,
    .proyectos {
        width: 100%;
    }  
    .informacion_entrada {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      .quien_soy {
        order: 2;
        top: 0; /* Cambia el orden de aparición en dispositivos móviles */
        text-align: center;
        height: 800px;
      }
    #principal{
        height: 400px;
    }
      .comment {
        order: 1;
        top: 0; /* Coloca el comentario primero en dispositivos móviles */
      }
    
      .imagen_informacion {
        order: 3; /* Coloca la imagen después del contenido en dispositivos móviles */
        top: 0;
        margin-top: 20px; /* Agrega un poco de espacio entre el contenido y la imagen */
      }
    
      .descargaPDF {
        order: 4; /* Coloca el botón de descarga al final en dispositivos móviles */
      }
      .parrafoC2{
        display: flex;
        text-align: justify;
      }
    .titulo_habilidades{
        font-size: 20px;
    }
    .backend h2, .frotend h2{
        font-size: 15px;
    }
    .habilidades_2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }  
    .habiliades_img {
        width: 100%;
    }
    .informacion_vida {
        display: flex;
        flex-direction: column;
        gap: 20px;
    } 
    .proyectos2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    } 
    .contenedor_proyectos {
        flex-basis: calc(33.33% - 20px);
    }
    .iconos_footer {
        gap: 10px;
    }

    .quien_soy{
        margin-top: 0rem;
    }
    .quien_soy h1{
        font-size: 30px;
        text-align: center;
    }
    .quien_soy p{
        font-size: 15px;
        margin-top: 3%;
    }
    .imagen_informacion {
        height: 300px;
    }
    .icono{
        height: 30px;
    }
    .iconoHeader{
        height: 10px;
    }
    .proyectos .iconoHeader, .personal .iconoHeader{
        height: 30px;
    }
    .habilidades{
        font-size: 10px;
        padding: 5px;
        pointer-events: none;
        height: auto;
    }
    .backend p, .frotend p{
        font-size: 10px;
        pointer-events: auto;
    }
    .backend h2, .frotend h2{
        text-align: center;
        margin-bottom: 2%;
        margin-top: 5%;
    }
    .habiliades_img{
        height: 50%;
        justify-content: center;
        align-items: center;
    }
    .habiliades_img img{
        height: auto;
        width: 60%;
    }
    .informacion_vida{
        width: 95%;
        height: auto;
    }
    .personalInfo{
        font-size: 250%;
    }
    .logo_principal,
    .bx {
        font-size: 20px;
    }
    .proyectos{
        margin-top: 0px;
        height: auto;
    }
    .proyectosImages h1{
        font-size:20px;
        margin-bottom: 2%;
        text-align: center;
    }
    .proyectos2{
        width: 100%;
        height: 100px;
        padding-left: 10%;
    }
    .imagenes_proyectos img{
        width:250px;
    }
    footer{
        width: 95%;
        margin-top: 0px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .footer h2{
        font-size: 15px;
    }
    .iconos_footer{
        height: 20px;
    }
    .correo_personal_footer a{
        font-size: 15px;
    }
    .divhabilidad, .pasatiempoIconos{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: left;
        align-items: left;
    }
    .Lenguage{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 100%;
        width: 30px;
        margin: 0px 0px 0px 0px;
    }
    .Lenguage img{
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
    }
    .Lenguage p{
        font-size: 12px;
    }
    .enviar{
        width: 100%;
    }
    .input-padron{
        width: 100%;
    }
    
    /*proyectos */
    .fotos{
        display: flex;
        flex-direction: column;
    }
    .divProyeto{
        margin-top: 7%;
    }
    .divExperiencia, .divFormacion{
        display: block;
        align-items: center;
        justify-content: center;
    }
    .personal1{
        height: 80%;
    }
    .imagenInformacion{
        height: 15%;
    }
    .descargarCV{
        height: 10;
        cursor: pointer;
        height: 1%;
    }

    /* personal */
    .divExperiencia, .divFormacion{
        display: flex;
        flex-direction: column;
    }
    .experiencia h1, .formacion h1, 
    .habilidadI h1, .pasatiempos h1,
    .formulario h1{
        font-size: 15px;
        margin-bottom: 1rem;
    }
    .divExperiencia p, .divFormacion p{
        font-size: 10px;
    }
    .divFormacion .fotoFormacion, 
    .divExperiencia .fotoFormacion{
        height: 100px;
    }
    .formulario{
        width: 100%;
    }
    ul li{
        font-size: 20px;
    }
    .from{
        width: 100%;
        padding: 1rem;
    }
    form .enviar{
        width: 60%;
        height: 1%;
        font-size: 10px;
    }
    .from label{
        width: 100%;
        font-size: 10px;
    }
    
    .button {
        width: 200px;
        height: 100px;
    }
    .button ul {
        font-size: 10px;
    }

    .button ul {
        transform: translateY(-20%);
    }

    .button > div svg {
        width: 160px;
        height: 48px;
    }

}
